<div class="scrollbar-inner">
  <!-- Brand -->
  <div class="sidenav-header  align-items-center">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="assets/img/logo.png" class="navbar-brand-img" alt="...">
    </a>
  </div>
  <div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Nav items -->
      <ul class="navbar-nav">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLinkActive="active" routerLink="/admin/dashboard">-->
<!--            <i class='bx bx-tachometer text-primary'></i>-->
<!--            <span class="nav-link-text">Dashboard</span>-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/sliders">
            <i class='bx bx-slider text-primary'></i>
            <span class="nav-link-text">Sliders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/products">
            <i class='bx bx-purchase-tag-alt text-primary' ></i>
            <span class="nav-link-text">Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/counters">
            <i class='bx bx-tachometer text-primary'></i>
            <span class="nav-link-text">Counters</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/about">
            <i class='bx bx-label text-primary'></i>
            <span class="nav-link-text">About Us</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/gallery">
            <i class='bx bx-image-alt text-primary'></i>
            <span class="nav-link-text">Gallery</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/clients">
            <i class='bx bx-right-arrow-circle text-primary'></i>
            <span class="nav-link-text">Clients</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/testimonials">
            <i class='bx bx-user text-primary'></i>
            <span class="nav-link-text">Testimonials</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/vacancy">
            <i class='bx bx-file-find text-primary'></i>
            <span class="nav-link-text">Opportunities</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/vendor">
            <i class='bx bx-user text-primary'></i>
            <span class="nav-link-text">Become Vendor</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/careers">
            <i class='bx bx-message-check text-primary'></i>
            <span class="nav-link-text">Careers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/contacts">
            <i class='bx bx-message-alt-error text-primary'></i>
            <span class="nav-link-text">Contact Us</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/map">
            <i class='bx bx-map text-primary'></i>
            <span class="nav-link-text">Map</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/brochure">
            <i class='bx bxs-file-pdf text-primary'></i>
            <span class="nav-link-text">Upload Brochure</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/media">
            <i class='bx bx-message-alt-error text-primary'></i>
            <span class="nav-link-text">Social Media</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/office">
            <i class='bx bxs-location-plus text-primary'></i>
            <span class="nav-link-text">Office Contacts</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/seo-settings">
            <i class='bx bx-analyse text-primary'></i>
            <span class="nav-link-text">SEO Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/sitemap">
            <i class='bx bx-sitemap text-primary'></i>
            <span class="nav-link-text">Sitemap</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
