<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Careers</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header border-0">
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="display" datatable [dtOptions]='dtOptions'>
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Position</th>
                  <th>Mob No.</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Past Experience</th>
                  <th>Past Experience Year</th>
                  <th>Resume</th>
                  <th>Created Date</th>
                  <th class="no-search-filter">Action</th>
                </tr>
                </thead>
                <tbody *ngIf="getlist?.length>0">
                <tr *ngFor="let item of getlist">
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.position}}</td>
                  <td>{{item.mobile}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.past_experience}}</td>
                  <td>{{item.past_experience_year}}</td>
                  <td>
                    <a target="_blank" href="{{backend_url +''+ item.resume}}">{{item.resume}}</a>
                  </td>
                  <td>{{item.created_at | date}}</td>
                  <td>
                    <a (click)="delete_action(item)">
                      <i class='bx bxs-trash bx-md'></i>
                    </a>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="getlist?.length == 0">
                <tr>
                  <td colspan="9" class="no-data-available">No data available!</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
