<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">SEO Settings</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Google Analytics Code (Note : Please remove script tag and Only under js code putting)</label>
                      <textarea class="form-control" formControlName="google_analytics" [ngClass]="{ 'is-invalid': submitted && fval.google_analytics.errors }"></textarea>
                      <div *ngIf="submitted && fval.google_analytics.errors" class="invalid-feedback">
                        <div *ngIf="fval.google_analytics.errors.required">
                          Google Analytics Code is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Home : Meta Title</label>
                      <input type="text" class="form-control" placeholder="Meta Title" formControlName="home_meta_title" [ngClass]="{ 'is-invalid': submitted && fval.home_meta_title.errors }">
                      <div *ngIf="submitted && fval.home_meta_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.home_meta_title.errors.required">
                          Meta Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Home : Meta Keyword</label>
                      <input type="text" class="form-control" placeholder="Meta Keyword" formControlName="home_meta_keyword" [ngClass]="{ 'is-invalid': submitted && fval.home_meta_keyword.errors }">
                      <div *ngIf="submitted && fval.home_meta_keyword.errors" class="invalid-feedback">
                        <div *ngIf="fval.home_meta_keyword.errors.required">
                          Meta Keyword is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Home : Meta Description</label>
                      <textarea class="form-control" placeholder="Meta Description" formControlName="home_meta_description" [ngClass]="{ 'is-invalid': submitted && fval.home_meta_description.errors }"></textarea>
                      <div *ngIf="submitted && fval.home_meta_description.errors" class="invalid-feedback">
                        <div *ngIf="fval.home_meta_description.errors.required">
                          Meta Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Careers : Meta Title</label>
                      <input type="text" class="form-control" placeholder="Meta Title" formControlName="careers_meta_title" [ngClass]="{ 'is-invalid': submitted && fval.careers_meta_title.errors }">
                      <div *ngIf="submitted && fval.careers_meta_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.careers_meta_title.errors.required">
                          Meta Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Careers : Meta Keyword</label>
                      <input type="text" class="form-control" placeholder="Meta Keyword" formControlName="careers_meta_keyword" [ngClass]="{ 'is-invalid': submitted && fval.careers_meta_keyword.errors }">
                      <div *ngIf="submitted && fval.careers_meta_keyword.errors" class="invalid-feedback">
                        <div *ngIf="fval.careers_meta_keyword.errors.required">
                          Meta Keyword is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Careers : Meta Description</label>
                      <textarea class="form-control" placeholder="Meta Description" formControlName="careers_meta_description" [ngClass]="{ 'is-invalid': submitted && fval.careers_meta_description.errors }"></textarea>
                      <div *ngIf="submitted && fval.careers_meta_description.errors" class="invalid-feedback">
                        <div *ngIf="fval.careers_meta_description.errors.required">
                          Meta Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Contacts : Meta Title</label>
                      <input type="text" class="form-control" placeholder="Meta Title" formControlName="contacts_meta_title" [ngClass]="{ 'is-invalid': submitted && fval.contacts_meta_title.errors }">
                      <div *ngIf="submitted && fval.contacts_meta_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.contacts_meta_title.errors.required">
                          Meta Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Contacts : Meta Keyword</label>
                      <input type="text" class="form-control" placeholder="Meta Keyword" formControlName="contacts_meta_keyword" [ngClass]="{ 'is-invalid': submitted && fval.contacts_meta_keyword.errors }">
                      <div *ngIf="submitted && fval.contacts_meta_keyword.errors" class="invalid-feedback">
                        <div *ngIf="fval.contacts_meta_keyword.errors.required">
                          Meta Keyword is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Contacts : Meta Description</label>
                      <textarea class="form-control" placeholder="Meta Description" formControlName="contacts_meta_description" [ngClass]="{ 'is-invalid': submitted && fval.contacts_meta_description.errors }"></textarea>
                      <div *ngIf="submitted && fval.contacts_meta_description.errors" class="invalid-feedback">
                        <div *ngIf="fval.contacts_meta_description.errors.required">
                          Meta Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Clients : Meta Title</label>
                      <input type="text" class="form-control" placeholder="Meta Title" formControlName="clients_meta_title" [ngClass]="{ 'is-invalid': submitted && fval.clients_meta_title.errors }">
                      <div *ngIf="submitted && fval.clients_meta_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.clients_meta_title.errors.required">
                          Meta Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Clients : Meta Keyword</label>
                      <input type="text" class="form-control" placeholder="Meta Keyword" formControlName="clients_meta_keyword" [ngClass]="{ 'is-invalid': submitted && fval.clients_meta_keyword.errors }">
                      <div *ngIf="submitted && fval.clients_meta_keyword.errors" class="invalid-feedback">
                        <div *ngIf="fval.clients_meta_keyword.errors.required">
                          Meta Keyword is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Clients : Meta Description</label>
                      <textarea class="form-control" placeholder="Meta Description" formControlName="clients_meta_description" [ngClass]="{ 'is-invalid': submitted && fval.clients_meta_description.errors }"></textarea>
                      <div *ngIf="submitted && fval.clients_meta_description.errors" class="invalid-feedback">
                        <div *ngIf="fval.clients_meta_description.errors.required">
                          Meta Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Vendor : Meta Title</label>
                      <input type="text" class="form-control" placeholder="Meta Title" formControlName="vendor_meta_title" [ngClass]="{ 'is-invalid': submitted && fval.vendor_meta_title.errors }">
                      <div *ngIf="submitted && fval.vendor_meta_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.vendor_meta_title.errors.required">
                          Meta Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Vendor : Meta Keyword</label>
                      <input type="text" class="form-control" placeholder="Meta Keyword" formControlName="vendor_meta_keyword" [ngClass]="{ 'is-invalid': submitted && fval.vendor_meta_keyword.errors }">
                      <div *ngIf="submitted && fval.vendor_meta_keyword.errors" class="invalid-feedback">
                        <div *ngIf="fval.vendor_meta_keyword.errors.required">
                          Meta Keyword is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Vendor : Meta Description</label>
                      <textarea class="form-control" placeholder="Meta Description" formControlName="vendor_meta_description" [ngClass]="{ 'is-invalid': submitted && fval.vendor_meta_description.errors }"></textarea>
                      <div *ngIf="submitted && fval.vendor_meta_description.errors" class="invalid-feedback">
                        <div *ngIf="fval.vendor_meta_description.errors.required">
                          Meta Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
