<app-header></app-header>
<div class="header_space"></div>

<div class="page-tab-area" *ngIf="abouts">
  <ul>
    <li *ngFor="let a of abouts">
      <a [ngClass]="{ 'active': slug==a.slug }"  [routerLink]="['/about',a.slug]">{{a.about_title}}</a>
    </li>
  </ul>
</div>

<section class="aboutpage-area">
  <div class="container" [innerHTML]="about_content"></div>
</section>

<app-footer></app-footer>
