<app-header></app-header>

<div class="banner-area" *ngIf="banners?.length > 0">
  <owl-carousel-o [options]="bannerOptions">
    <ng-container class="banner-item banner-img-one" *ngFor="let banner of banners">
      <ng-template carouselSlide>
        <a routerLink="{{banner.link}}">
          <img class="desktop_banner" [src]="backend_url +''+banner.desktop_img" alt="">
          <img class="mobile_banner" [src]="backend_url +''+banner.mobile_img" alt="">
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<section class="service-area ptb-100" *ngIf="products?.length > 0">
  <div class="container-fluid">
    <div class="section-title text-center">
      <span class="sub-title">Products</span>
      <h2>Products</h2>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="service-item" *ngFor="let product of products">
          <div class="service-top">
            <a [routerLink]="['/products',product.slug]" >
              <img src="{{backend_url+''+product.image}}" alt="{{product.title}}">
            </a>
          </div>
          <div class="service-bottom">
            <a [routerLink]="['/products',product.slug]" >
              <h3>{{product.title}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="counter-area pb-70" [ngClass]="{'pt-70' :products.length <= 0 }" *ngIf="counters?.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3" *ngFor="let count of counters">
        <div class="counter-item">
          <h3><ngx-odometer [textContent]="count.total" [config]="{ }"></ngx-odometer></h3>
          <p>{{count.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-area" *ngIf="abouts?.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-content">
          <div class="section-title text-center">
            <span class="sub-title">Kaneria Group</span>
            <h2>Kaneria Group</h2>
          </div>
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let about of abouts;index as i">
              <a class="nav-link" [ngClass]="{ 'active': step==i }" (click)="check_step(i)" id="pills-tab-{{i}}" data-bs-toggle="pill" href="#pills-{{about.i}}" role="tab" aria-controls="pills-{{about.i}}" aria-selected="true">{{about.about_title}}</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" *ngFor="let about of abouts;index as i" [ngClass]="{ 'show active': step==i }" id="pills-{{i}}" role="tabpanel" aria-labelledby="pills-tab-{{i}}" >
              <div [innerHTML]="about.about_content2"></div>
              <a class="blue-btn" [routerLink]="['/about',about.slug]" >View {{about.about_title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="logo-area ptb-100" *ngIf="clients?.length > 0">
  <div class="container">
    <div class="section-title text-center">
      <span class="sub-title">Clients</span>
      <h2>Our Clients</h2>
    </div>
    <owl-carousel-o [options]="logoOptions">
      <ng-container class="logo-item" *ngFor="let client of clients">
        <ng-template carouselSlide>
          <img src="{{backend_url+''+client.image}}" alt="Logo">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

<section class="client-area pb-100" *ngIf="testimonials?.length > 0">
  <div class="container">
    <div class="section-title text-center">
      <span class="sub-title">TESTIMONIAL</span>
      <h2>What our clients say</h2>
    </div>
    <owl-carousel-o [options]="clientOptions">
      <ng-container *ngFor="let testimonial of testimonials">
        <ng-template carouselSlide>
          <div class="client-item">
            <i class="flaticon-right-quote"></i>
            <div class="client-top">
              <img *ngIf="testimonial.image != ''" src="{{backend_url +''+ testimonial.image}}" alt="Client">
              <img *ngIf="testimonial.image == ''" src="assets/img/client1.png" alt="Client">
              <h3>{{testimonial.name}}</h3>
              <span>{{testimonial.position}}</span>
            </div>
            <p>{{testimonial.description}}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>

<app-footer></app-footer>
