<app-header></app-header>
<div class="header_space"></div>
<section class="contact-area gray_bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-area two form-pd">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-form">
                  <h3>Enquiry Form</h3>
                  <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Name *</label>
                          <input type="text" formControlName="name" (keydown)="alphaOnly($event)" [ngClass]="{ 'is-invalid': submitted && fval.name.errors }" class="form-control">
                          <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                            <div *ngIf="fval.name.errors.required">
                              Please enter your name
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Email *</label>
                          <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" class="form-control" required data-error="Please enter your email">
                          <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                            <div *ngIf="fval.email.errors.required">
                              Please enter your email
                            </div>
                            <div *ngIf="fval.email.errors.email">Please enter your correct email</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Mobile *</label>
                          <input type="number" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && fval.mobile.errors }" class="form-control">
                          <div *ngIf="submitted && fval.mobile.errors" class="invalid-feedback">
                            <div *ngIf="fval.mobile.errors.required">
                              Please enter your number
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Product *</label>
                          <select class="form-control" formControlName="product_id" [ngClass]="{ 'is-invalid': submitted && fval.product_id.errors }">
                            <option *ngFor="let product of products" value="{{product.title}}">{{product.title}}</option>
                          </select>
                          <div *ngIf="submitted && fval.product_id.errors" class="invalid-feedback">
                            <div *ngIf="fval.product_id.errors.required">
                              Please select your product
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                          <label>Message *</label>
                          <textarea formControlName="message" class="form-control" cols="30" rows="5" maxlength="255" [ngClass]="{ 'is-invalid': submitted && fval.message.errors }"></textarea>
                          <div *ngIf="submitted && fval.message.errors" class="invalid-feedback">
                            <div *ngIf="fval.message.errors.required">
                              Write your message
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <re-captcha formControlName="recaptcha" [ngClass]="{ 'is-invalid': submitted && fval.recaptcha.errors }"></re-captcha>
                          <div *ngIf="submitted && fval.recaptcha.errors" class="invalid-feedback">
                            <div *ngIf="fval.recaptcha.errors.required">
                              Please select your recaptcha
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <button type="submit" class="cmn-btn btn">Send Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" *ngIf="map">
        <iframe [src]='mapURL()' width="100%" height="700"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

  </div>
</section>

<div class="container" *ngIf="office_address">
  <div class="contact-area two contact-details" [innerHTML]="office_address">
  </div>
</div>

<app-footer></app-footer>
