<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{title}} About</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Title</label>
                      <input type="text" class="form-control" placeholder="Title" formControlName="about_title" [ngClass]="{ 'is-invalid': submitted && fval.about_title.errors }">
                      <div *ngIf="submitted && fval.about_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.about_title.errors.required">
                          Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Position</label>
                      <input type="text" class="form-control" placeholder="Position" formControlName="position" [ngClass]="{ 'is-invalid': submitted && fval.position.errors }">
                      <div *ngIf="submitted && fval.position.errors" class="invalid-feedback">
                        <div *ngIf="fval.position.errors.required">
                          Position is required
                        </div>
                      </div>
                    </div>
                  </div>
<!--                  <div class="col-lg-6">-->
<!--                    <div class="form-group">-->
<!--                      <label class="form-control-label">Upload Image</label>-->
<!--                      <input type="file" class="form-control" (change)="upload_photo($event)" formControlName="image" [ngClass]="{ 'is-invalid': submitted && fval.image.errors }" accept=".png, .jpg, .jpeg">-->
<!--                      <div *ngIf="submitted && fval.image.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="fval.image.errors.required">-->
<!--                          Upload Image is required-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-lg-6" *ngIf="about_image" style="display:none;">-->
<!--                    <div class="form-group">-->
<!--                      <label class="form-control-label">Preview Image</label><br>-->
<!--                      <img src="{{about_image}}" alt=""/>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-lg-12">-->
<!--                    <div class="form-group">-->
<!--                      <label class="form-control-label">Content</label>-->
<!--                      <ckeditor-->
<!--                        formControlName="about_content"-->
<!--                        [editor]="Editor"-->
<!--                        [config]="ckeConfig"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && fval.about_content.errors }">-->
<!--                      </ckeditor>-->
<!--                      <div *ngIf="submitted && fval.about_content.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="fval.about_content.errors.required">-->
<!--                          Content is required-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-lg-12">-->
<!--                    <div class="form-group">-->
<!--                      <label class="form-control-label">Content</label>-->
<!--                      <ckeditor-->
<!--                        formControlName="about_content"-->
<!--                        [editor]="Editor"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && fval.about_content.errors }">-->
<!--                      </ckeditor>-->
<!--                      <div *ngIf="submitted && fval.about_content.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="fval.about_content.errors.required">-->
<!--                          Content is required-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Home Content</label>
                      <editor
                        apiKey="rgtxh7d736nxo89ev2vg6bpkvliemoz0s0hz7puv7r510vsn"
                        formControlName="about_content2"
                        [init]= "tinymce"
                        [ngClass]="{ 'is-invalid': submitted && fval.about_content2.errors }"
                      >
                      </editor>
                      <div *ngIf="submitted && fval.about_content2.errors" class="invalid-feedback">
                        <div *ngIf="fval.about_content2.errors.required">
                          Home Content is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Page Content</label>
                      <editor
                        apiKey="rgtxh7d736nxo89ev2vg6bpkvliemoz0s0hz7puv7r510vsn"
                        formControlName="about_content"
                        [init]= "tinymce"
                        [ngClass]="{ 'is-invalid': submitted && fval.about_content.errors }"
                      >
                      </editor>
                      <div *ngIf="submitted && fval.about_content.errors" class="invalid-feedback">
                        <div *ngIf="fval.about_content.errors.required">
                          Page Content is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Meta Title</label>
                      <input type="text" class="form-control" placeholder="Meta Title" formControlName="meta_title" [ngClass]="{ 'is-invalid': submitted && fval.meta_title.errors }">
                      <div *ngIf="submitted && fval.meta_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.meta_title.errors.required">
                          Meta Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Meta Keyword</label>
                      <input type="text" class="form-control" placeholder="Meta Keyword" formControlName="meta_keyword" [ngClass]="{ 'is-invalid': submitted && fval.meta_keyword.errors }">
                      <div *ngIf="submitted && fval.meta_keyword.errors" class="invalid-feedback">
                        <div *ngIf="fval.meta_keyword.errors.required">
                          Meta Keyword is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Meta Description</label>
                      <textarea class="form-control" placeholder="Meta Description" formControlName="meta_description" [ngClass]="{ 'is-invalid': submitted && fval.meta_description.errors }"></textarea>
                      <div *ngIf="submitted && fval.meta_description.errors" class="invalid-feedback">
                        <div *ngIf="fval.meta_description.errors.required">
                          Meta Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
