<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{title}} Vacancy</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Title</label>
                      <input type="text" class="form-control" placeholder="Position" formControlName="vacancy_title" [ngClass]="{ 'is-invalid': submitted && fval.vacancy_title.errors }">
                      <div *ngIf="submitted && fval.vacancy_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.vacancy_title.errors.required">
                          Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Experience</label>
                      <input type="text" class="form-control" placeholder="Year" formControlName="vacancy_exp" [ngClass]="{ 'is-invalid': submitted && fval.vacancy_exp.errors }">
                      <div *ngIf="submitted && fval.vacancy_exp.errors" class="invalid-feedback">
                        <div *ngIf="fval.vacancy_exp.errors.required">
                          Experience is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
