<app-header></app-header>
<div class="header_space"></div>
<div id="nav-wrap">
  <div id="scroller-anchor"></div>
  <div id="nav">
    <ul class="clearfix">
      <li class="nav-btn active" data-row-id="row1">Product Description</li>
      <li class="nav-btn" data-row-id="row2">Features & Benefits</li>
      <li class="nav-btn" data-row-id="row3">Technical Specifications</li>
      <li class="nav-btn" data-row-id="row4">Warning</li>
    </ul>
  </div>
</div>
<div class="pd_banner" *ngIf="cover_image != '' || mobile_cover_image != ''">
  <img src="{{cover_image}}" class="desktop_banner img_full" />
  <img src="{{mobile_cover_image}}" class="mobile_banner img_full" />
</div>

<div id="content-wrap">
  <div class="Description_section row-nav" id="row1" >
    <div class="container" *ngIf="description">
      <div class="section-title text-center">
        <span class="sub-title">DESCRIPTION</span>
        <h2>
          Product Description
        </h2>
      </div>
      <div [innerHTML]="description"></div>
    </div>
  </div>

  <div class="Features_section row-nav" id="row2">
    <div class="container" *ngIf="benefits">
      <div class="section-title text-center">
        <span class="sub-title">FEATURES & BENEFITS</span>
        <h2 class="white">
          Features & Benefits
        </h2>
      </div>
      <div [innerHTML]="benefits"></div>
    </div>
  </div>

  <div id="row3" class="Description_section row-nav" >
    <div class="container" *ngIf="specifications">
      <div class="section-title text-center">
        <span class="sub-title">SPECIFICATIONS</span>
        <h2>
          Specifications
        </h2>
      </div>
      <div class="row" [innerHTML]="specifications"></div>
    </div>
  </div>

  <div id="row4" class="warning_section row-nav">
    <div class="container" *ngIf="warning">
      <div class="section-title text-center">
        <span class="sub-title">WARNING</span>
        <h2>Warning</h2>
      </div>
      <div class="col-lg-6 mx-auto text-center">
        <i><img src="assets/img/Warning.png" class="warning_icon" /></i>
        <div [innerHTML]="warning"></div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
