<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{title}} Silder</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Desktop Image</label>
                      <input type="file" class="form-control" (change)="upload_photo($event)" formControlName="desktop_img" [ngClass]="{ 'is-invalid': submitted && fval.desktop_img.errors }" accept=".png, .jpg, .jpeg">
                      <div *ngIf="submitted && fval.desktop_img.errors" class="invalid-feedback">
                        <div *ngIf="fval.desktop_img.errors.required">
                          Desktop Image is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Mobile Image</label>
                      <input type="file" class="form-control" (change)="upload_cover_photo($event)" formControlName="mobile_img" [ngClass]="{ 'is-invalid': submitted && fval.mobile_img.errors }" accept=".png, .jpg, .jpeg">
                      <div *ngIf="submitted && fval.mobile_img.errors" class="invalid-feedback">
                        <div *ngIf="fval.mobile_img.errors.required">
                          Mobile Image is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="desk_img">
                    <div class="form-group">
                      <label class="form-control-label">Preview Desktop Image</label><br>
                      <img src="{{desk_img}}" alt=""/>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="mob_img">
                    <div class="form-group">
                      <label class="form-control-label">Preview Mobile Image</label><br>
                      <img src="{{mob_img}}" alt=""/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Link</label>
                      <input type="text" class="form-control" formControlName="link" [ngClass]="{ 'is-invalid': submitted && fval.link.errors }">
                      <div *ngIf="submitted && fval.link.errors" class="invalid-feedback">
                        <div *ngIf="fval.link.errors.required">
                          Link is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Position</label>
                      <input type="number" class="form-control" formControlName="position" [ngClass]="{ 'is-invalid': submitted && fval.position.errors }">
                      <div *ngIf="submitted && fval.position.errors" class="invalid-feedback">
                        <div *ngIf="fval.position.errors.required">
                          Position is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
