<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Opportunities</h6>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a routerLink="/admin/add-vacancy" class="btn btn-sm btn-neutral"><i class='bx bx-plus'></i> Add Vacancy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header border-0">
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="display" datatable [dtOptions]='dtOptions'>
                <thead>
                <tr>
                  <th>Title</th>
                  <th>Experience</th>
                  <th>Created Date</th>
                  <th class="no-search-filter">Action</th>
                </tr>
                </thead>
                <tbody *ngIf="getlist?.length>0">
                <tr *ngFor="let item of getlist">
                  <td>{{item.vacancy_title}}</td>
                  <td>{{item.vacancy_exp}}</td>
                  <td>{{item.created_at | date}}</td>
                  <td>
                    <a [routerLink]="['/admin/edit-vacancy',item.vacancy_id]">
                      <i class='bx bxs-edit bx-md'></i>
                    </a>
                    <a (click)="delete_action(item)">
                      <i class='bx bxs-trash bx-md'></i>
                    </a>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="getlist?.length == 0">
                <tr>
                  <td colspan="4" class="no-data-available">No data available!</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
