<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{title}} Client</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Logo</label>
                      <input type="file" class="form-control" (change)="upload_photo($event)" formControlName="image" [ngClass]="{ 'is-invalid': submitted && fval.image.errors }" accept=".png, .jpg, .jpeg">
                      <div *ngIf="submitted && fval.image.errors" class="invalid-feedback">
                        <div *ngIf="fval.image.errors.required">
                          Logo is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="client_img">
                    <div class="form-group">
                      <label class="form-control-label">Preview Image</label><br>
                      <img src="{{client_img}}" alt=""/>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
