<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{title}} Product</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Product Title</label>
                      <input type="text" class="form-control" placeholder="Title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && fval.title.errors }">
                      <div *ngIf="submitted && fval.title.errors" class="invalid-feedback">
                        <div *ngIf="fval.title.errors.required">
                          Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Product Position</label>
                      <input type="number" class="form-control" placeholder="Position" formControlName="position" [ngClass]="{ 'is-invalid': submitted && fval.position.errors }">
                      <div *ngIf="submitted && fval.position.errors" class="invalid-feedback">
                        <div *ngIf="fval.position.errors.required">
                          Position is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Product Image</label>
                      <input type="file" class="form-control" (change)="upload_photo($event)" formControlName="image" [ngClass]="{ 'is-invalid': submitted && fval.image.errors }" accept=".png, .jpg, .jpeg">
                      <div *ngIf="submitted && fval.image.errors" class="invalid-feedback">
                        <div *ngIf="fval.image.errors.required">
                          Image is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Product Cover Image</label>
                      <input type="file" class="form-control" (change)="upload_cover_photo($event)" formControlName="cover_image" [ngClass]="{ 'is-invalid': submitted && fval.cover_image.errors }" accept=".png, .jpg, .jpeg">
                      <div *ngIf="submitted && fval.cover_image.errors" class="invalid-feedback">
                        <div *ngIf="fval.cover_image.errors.required">
                          Cover Image is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Product Mobile Cover Image</label>
                      <input type="file" class="form-control" (change)="upload_mobile_cover_photo($event)" formControlName="mobile_cover_image" [ngClass]="{ 'is-invalid': submitted && fval.mobile_cover_image.errors }" accept=".png, .jpg, .jpeg">
                      <div *ngIf="submitted && fval.mobile_cover_image.errors" class="invalid-feedback">
                        <div *ngIf="fval.mobile_cover_image.errors.required">
                          Mobile Cover Image is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4" *ngIf="product_image">
                    <div class="form-group">
                      <label class="form-control-label">Product Preview Image</label><br>
                      <img src="{{product_image}}" alt=""/>
                    </div>
                  </div>
                  <div class="col-lg-4" *ngIf="product_cover_image">
                    <div class="form-group">
                      <label class="form-control-label">Product Preview Cover Image</label><br>
                      <img src="{{product_cover_image}}" alt=""/>
                    </div>
                  </div>
                  <div class="col-lg-4" *ngIf="product_mobile_cover_image">
                    <div class="form-group">
                      <label class="form-control-label">Product Preview Mobile Cover Image</label><br>
                      <img src="{{product_mobile_cover_image}}" alt=""/>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Product Description</label>
                      <editor
                        apiKey="rgtxh7d736nxo89ev2vg6bpkvliemoz0s0hz7puv7r510vsn"
                        formControlName="description"
                        [init]= "tinymce"
                        [ngClass]="{ 'is-invalid': submitted && fval.description.errors }"
                      >
                      </editor>
<!--                      <ckeditor-->
<!--                        formControlName="description"-->
<!--                        [config]="ckeConfig"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && fval.description.errors }">-->
<!--                      </ckeditor>-->
                      <div *ngIf="submitted && fval.description.errors" class="invalid-feedback">
                        <div *ngIf="fval.description.errors.required">
                          Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Product Features & Benefits </label>
                      <editor
                        apiKey="rgtxh7d736nxo89ev2vg6bpkvliemoz0s0hz7puv7r510vsn"
                        formControlName="benefits"
                        [init]= "tinymce"
                        [ngClass]="{ 'is-invalid': submitted && fval.benefits.errors }"
                      >
                      </editor>
<!--                      <ckeditor-->
<!--                        formControlName="benefits"-->
<!--                        [config]="ckeConfig"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && fval.benefits.errors }">-->
<!--                      </ckeditor>-->
                      <div *ngIf="submitted && fval.benefits.errors" class="invalid-feedback">
                        <div *ngIf="fval.benefits.errors.required">
                          Features & Benefit is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Technical Specifications</label>
                      <editor
                        apiKey="rgtxh7d736nxo89ev2vg6bpkvliemoz0s0hz7puv7r510vsn"
                        formControlName="specifications"
                        [init]= "tinymce"
                        [ngClass]="{ 'is-invalid': submitted && fval.specifications.errors }"
                      >
                      </editor>
<!--                      <ckeditor-->
<!--                        formControlName="specifications"-->
<!--                        [config]="ckeConfig"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && fval.specifications.errors }">-->
<!--                      </ckeditor>-->
                      <div *ngIf="submitted && fval.specifications.errors" class="invalid-feedback">
                        <div *ngIf="fval.specifications.errors.required">
                          Specification is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Warning</label>
                      <editor
                        apiKey="rgtxh7d736nxo89ev2vg6bpkvliemoz0s0hz7puv7r510vsn"
                        formControlName="warning"
                        [init]= "tinymce"
                        [ngClass]="{ 'is-invalid': submitted && fval.warning.errors }"
                      >
                      </editor>
<!--                      <ckeditor-->
<!--                        formControlName="warning"-->
<!--                        [config]="ckeConfig"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && fval.warning.errors }">-->
<!--                      </ckeditor>-->
                      <div *ngIf="submitted && fval.warning.errors" class="invalid-feedback">
                        <div *ngIf="fval.warning.errors.required">
                          Warning is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Meta Title</label>
                      <input type="text" class="form-control" placeholder="Meta Title" formControlName="meta_title" [ngClass]="{ 'is-invalid': submitted && fval.meta_title.errors }">
                      <div *ngIf="submitted && fval.meta_title.errors" class="invalid-feedback">
                        <div *ngIf="fval.meta_title.errors.required">
                          Meta Title is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Meta Keyword</label>
                      <input type="text" class="form-control" placeholder="Meta Keyword" formControlName="meta_keyword" [ngClass]="{ 'is-invalid': submitted && fval.meta_keyword.errors }">
                      <div *ngIf="submitted && fval.meta_keyword.errors" class="invalid-feedback">
                        <div *ngIf="fval.meta_keyword.errors.required">
                          Meta Keyword is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Meta Description</label>
                      <textarea class="form-control" placeholder="Meta Description" formControlName="meta_description" [ngClass]="{ 'is-invalid': submitted && fval.meta_description.errors }"></textarea>
                      <div *ngIf="submitted && fval.meta_description.errors" class="invalid-feedback">
                        <div *ngIf="fval.meta_description.errors.required">
                          Meta Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
