<app-header></app-header>
<div class="header_space"></div>
<div class="careers_banner">
  <img src="assets/img/comma.png" />
  <br />
  Our Clients
</div>

<section class="client-page-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-2" *ngFor="let client of clients">
        <div class="client-logo">
          <img src="{{backend_url+''+client.image}}" alt="Logo">
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
