<app-header></app-header>
<div class="header_space"></div>
<div class="gallery-area pt-100 pb-70">
  <div class="container">
    <div class="row popup-gallery">
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery7.jpg" alt="Gallery">
          <a href="assets/img/gallery7.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery8.jpg" alt="Gallery">
          <a href="assets/img/gallery8.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery9.jpg" alt="Gallery">
          <a href="assets/img/gallery9.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery10.jpg" alt="Gallery">
          <a href="assets/img/gallery10.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery11.jpg" alt="Gallery">
          <a href="assets/img/gallery11.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery12.jpg" alt="Gallery">
          <a href="assets/img/gallery12.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery13.jpg" alt="Gallery">
          <a href="assets/img/gallery13.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery14.jpg" alt="Gallery">
          <a href="assets/img/gallery14.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery15.jpg" alt="Gallery">
          <a href="assets/img/gallery15.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery16.jpg" alt="Gallery">
          <a href="assets/img/gallery16.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery17.jpg" alt="Gallery">
          <a href="assets/img/gallery17.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="gallery-item">
          <img src="assets/img/gallery18.jpg" alt="Gallery">
          <a href="assets/img/gallery18.jpg">
            <i class="flaticon-add"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
