<!-- Main content -->
<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-lg-8 pt-lg-6">
    <div class="container">
      <div class="header-body text-center mb-5">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <div><img src="assets/img/logo_white.png" class="navbar-brand-img" alt="..."></div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h2>Admin</h2>
              <small>sign in with credentials</small>
            </div>
            <form role="form" [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <input class="form-control" placeholder="Email" type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
                <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                  <div *ngIf="fval.email.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="fval.email.errors.pattern">
                    Space not included in email
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }">
                <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                  <div *ngIf="fval.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <a routerLink="/admin/forgot-password">
                <div class="text-center text-muted">
                  <small>Forgot password?</small>
                </div>
              </a>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Sign in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
