<div class="loader" *ngIf="showLoader">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="loading-wrapper">
        <div class="loading"></div>
      </div>
    </div>
  </div>
</div>

<div class="navbar-area sticky-top">
  <div class="mobile-nav">
    <a routerLink="/home" class="logo">
      <img src="assets/img/mobile_logo.svg" alt="Logo">
    </a>
  </div>
  <div class="main-nav two three">
    <div class="container-fluid ">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/img/logo.svg" alt="Logo">
        </a>
        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" [ngClass]="(abouts_id.indexOf(CurrentUrl) === -1) ? '' : 'active'">About Us<i class='bx bx-chevron-down'></i></a>
              <ul class="dropdown-menu">
                <li class="nav-item" *ngFor="let about of abouts;index as i" >
                  <a [routerLink]="['/about',about.slug]" class="nav-link" [ngClass]="{ 'active': step==i }" (click)="check_step(i)">{{about.about_title}}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" [ngClass]="(products_id.indexOf(CurrentUrl) === -1) ? '' : 'active'">Products<i class='bx bx-chevron-down'></i></a>
              <ul class="dropdown-menu">
                <li class="nav-item" *ngFor="let product of products;index as i">
                  <a [routerLink]="['/products',product.slug]" class="nav-link" [ngClass]="{ 'active': step==i }" (click)="check_step(i)">{{product.title}}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a routerLink="/vendor" class="nav-link" routerLinkActive="active">Become Vendor</a>
            </li>
            <li class="nav-item">
              <a routerLink="/careers" class="nav-link" routerLinkActive="active">Careers</a>
            </li>
            <li class="nav-item">
              <a routerLink="/clients" class="nav-link" routerLinkActive="active">Clients</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contacts" class="nav-link" routerLinkActive="active">Contacts</a>
            </li>
          </ul>
          <div class="side-nav">
            <ul>
              <li>
                <div class="call">
                  <i class='bx bxs-phone-call'></i>
                  <a href="tel:+918238055562">GJ : +91 82380 55562</a>
                  <a href="tel:+919099930276">MH : +91 90999 30276</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
