<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main"
     xmlns="http://www.w3.org/1999/html">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Sitemap Generator</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
<!--                    <button class="btn btn-primary" (click)="sitemap()">Generate Sitemap</button>-->
                    <a class="btn btn-primary" href="{{backend_url +'sitemap.xml'}}" target="_blank">Generate Sitemap</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
