<!-- Main content -->
<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-lg-8 pt-lg-6">
    <div class="container">
      <div class="header-body text-center mb-5">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <div><img src="assets/img/logo_white.png" class="navbar-brand-img" alt="..."></div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h2>Forgot password</h2>
              <small>Input address associated with your account.</small>
            </div>
            <div *ngIf="show_forget_form">
              <form [formGroup]="ForgotForm" (ngSubmit)="onSubmitForgotForm()">
                <div class="form-group mb-3">
                  <input class="form-control" placeholder="Email Address" type="email" formControlName="email" [ngClass]="{ 'is-invalid': forgot_submitted && fval.email.errors }">
                  <div *ngIf="forgot_submitted && fval.email.errors" class="invalid-feedback">
                    <div *ngIf="fval.email.errors.required">
                      Email Address is required
                    </div>
                    <div *ngIf="fval.email.errors.email">Email Address must be a valid email address</div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Submit</button>
                </div>
                <div class="col-12">
                  <div class="text-center bk-link">
                    <p>Back To <a routerLink="/admin/login">Login</a></p>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf="verify_form_open">
              <form [formGroup]="verifyForm" (ngSubmit)="onSubmitVerifyCheck()">
                <div class="form-group mb-3">
                  <input class="form-control" placeholder="Enter your 4 digit OTP" type="text" formControlName="verify_token" [ngClass]="{ 'is-invalid': verify_submitted && vval.verify_token.errors }">
                  <div *ngIf="verify_submitted && vval.verify_token.errors" class="invalid-feedback">
                    <div *ngIf="vval.verify_token.errors.required">
                      OTP is required
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Verify OTP</button>
                </div>
                <div class="col-12">
                  <div class="text-center bk-link">
                    <p>Back To <a routerLink="/admin/login">Login</a></p>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf="password_form_show">
              <form [formGroup]="password_Form" (ngSubmit)="onSubmitPasswordForm()">
                <div class="form-group mb-3">
                  <input class="form-control" placeholder="New Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': password_submitted && pval.password.errors }">
                  <div *ngIf="password_submitted && pval.password.errors" class="invalid-feedback">
                    <div *ngIf="pval.password.errors.required">
                      New Password is Required
                    </div>
                    <div *ngIf="pval.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input class="form-control" placeholder="Confirm Password" type="password" formControlName="confirm_password" [ngClass]="{ 'is-invalid': password_submitted && pval.confirm_password.errors }">
                  <div *ngIf="password_submitted && pval.confirm_password.errors" class="invalid-feedback">
                    <div *ngIf="pval.confirm_password.errors.required">
                      Confirm Password is Required
                    </div>
                    <div *ngIf="pval.confirm_password.errors.ConfirmedValidator">Password and Confirm Password must be match.</div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Reset Password</button>
                </div>
                <div class="col-12">
                  <div class="text-center bk-link">
                    <p>Back To <a routerLink="/admin/login">Login</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
