/* You can add global styles to this file, and also import other style files */

.owl-carousel .owl-item img{
  width: inherit;
}

.pt-70{
  padding-top: 70px;
}

.bxs-trash{
  color: #5e72e4;
}

.dataTable {
  width: 100% !important;
}

.testi-media{
  width: 80px;
  height: 80px;
}

.benefit{
  color: #FFFFFF;
}
