<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{title}} Testimonial</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Name</label>
                      <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && fval.name.errors }">
                      <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                        <div *ngIf="fval.name.errors.required">
                          Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Position</label>
                      <input type="text" class="form-control" placeholder="Position" formControlName="position" [ngClass]="{ 'is-invalid': submitted && fval.position.errors }">
                      <div *ngIf="submitted && fval.position.errors" class="invalid-feedback">
                        <div *ngIf="fval.position.errors.required">
                          Position is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Profile</label>
                      <input type="file" class="form-control" (change)="upload_photo($event)" formControlName="image" [ngClass]="{ 'is-invalid': submitted && fval.image.errors }" accept=".png, .jpg, .jpeg">
                      <div *ngIf="submitted && fval.image.errors" class="invalid-feedback">
                        <div *ngIf="fval.image.errors.required">
                          Profile is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="testi_image != ''">
                    <div class="form-group">
                      <label class="form-control-label">Preview Image</label><br>
                      <img src="{{testi_image}}" alt=""/>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Description</label>
                      <textarea rows="4" class="form-control" placeholder="Description" formControlName="description" [ngClass]="{ 'is-invalid': submitted && fval.description.errors }"></textarea>
                      <div *ngIf="submitted && fval.description.errors" class="invalid-feedback">
                        <div *ngIf="fval.description.errors.required">
                          Description is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
