<app-header></app-header>
<div class="header_space"></div>
<div class="careers_banner">
  <img src="assets/img/comma.png" />
  <br />
  Because the biggest challenges hold the <br />
  <span class="bold">biggest opportunities</span>
</div>


<section class="careers-area ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-area two form-pd">
          <h3 class="mb-20">Working With Kaneria</h3>
          <p>The work culture at Kaneria is built on the foundation of two pillars – trust and respect. Every team member is encouraged to make decisions and empowered to make decisions and encouraged to do so.</p>
          <p>Our culture is that of inclusiveness, personal encouragement, performance recognition and promotion of talent and innovation. We understand that a dedicated team is undoubtedly the most prized asset any organisation can have and we provide ample learning and growth opportunities to ensure that your skills and productivity accelerate with time and responsibility. We pride ourselves in creating and maintaining a work ethic and a culture that is positive and supportive.</p>

          <div class="email_resume">
            <h2><i class='bx bxs-chevron-right'></i> OPENINGS <span class="counter">12</span></h2>
          </div>

        </div>
      </div>

      <div class="col-lg-6 gray_bg">
        <div class="contact-area two form-pd">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-form">
                  <h3>Opportunities</h3>
                  <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Name *</label>
                          <input type="text" formControlName="name" (keydown)="alphaOnly($event)" [ngClass]="{ 'is-invalid': submitted && fval.name.errors }" class="form-control">
                          <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                            <div *ngIf="fval.name.errors.required">
                              Please enter your name
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Email *</label>
                          <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" class="form-control">
                          <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                            <div *ngIf="fval.email.errors.required">
                              Please enter your email
                            </div>
                            <div *ngIf="fval.email.errors.email">Please enter your correct email</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Apply For * (position)</label>
                          <select class="form-control" formControlName="position" [ngClass]="{ 'is-invalid': submitted && fval.position.errors }">
                            <option *ngFor="let vac of vacancy" value="{{vac.vacancy_title}}">{{vac.vacancy_title}} {{vac.vacancy_exp}}</option>
                          </select>
                          <div *ngIf="submitted && fval.position.errors" class="invalid-feedback">
                            <div *ngIf="fval.position.errors.required">
                              Please enter your position
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Mobile No *</label>
                          <input type="number" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && fval.mobile.errors }" class="form-control">
                          <div *ngIf="submitted && fval.mobile.errors" class="invalid-feedback">
                            <div *ngIf="fval.mobile.errors.required">
                              Please enter your number
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>City *</label>
                          <input type="text" formControlName="city" (keydown)="alphaOnly($event)" [ngClass]="{ 'is-invalid': submitted && fval.city.errors }" class="form-control">
                          <div *ngIf="submitted && fval.city.errors" class="invalid-feedback">
                            <div *ngIf="fval.city.errors.required">
                              Please enter your city
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>State *</label>
                          <input type="text" formControlName="state" (keydown)="alphaOnly($event)" [ngClass]="{ 'is-invalid': submitted && fval.state.errors }" class="form-control">
                          <div *ngIf="submitted && fval.state.errors" class="invalid-feedback">
                            <div *ngIf="fval.state.errors.required">
                              Please enter your state
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Past Experience (Fields) *</label>
                          <input type="text" formControlName="past_experience" (keydown)="alphaOnly($event)" [ngClass]="{ 'is-invalid': submitted && fval.past_experience.errors }" class="form-control">
                          <div *ngIf="submitted && fval.past_experience.errors" class="invalid-feedback">
                            <div *ngIf="fval.past_experience.errors.required">
                              Please enter your past experience
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Past Experience (Year) *</label>
                          <input type="text" formControlName="past_experience_year" [ngClass]="{ 'is-invalid': submitted && fval.past_experience_year.errors }" class="form-control">
                          <div *ngIf="submitted && fval.past_experience_year.errors" class="invalid-feedback">
                            <div *ngIf="fval.past_experience_year.errors.required">
                              Please enter your past experience year
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <label>Attach resume/cv *</label>
                          <input type="file" (change)="upload_file($event)" formControlName="resume" [ngClass]="{ 'is-invalid': submitted && fval.resume.errors }" class="form-control" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                          <div *ngIf="submitted && fval.resume.errors" class="invalid-feedback">
                            <div *ngIf="fval.resume.errors.required">
                              Please attach your resume/cv
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                          <re-captcha formControlName="recaptcha" [ngClass]="{ 'is-invalid': submitted && fval.recaptcha.errors }"></re-captcha>
                          <div *ngIf="submitted && fval.recaptcha.errors" class="invalid-feedback">
                            <div *ngIf="fval.recaptcha.errors.required">
                              Please select your recaptcha
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12 col-lg-12">
                        <button type="submit" class="cmn-btn btn w-100">
                          Apply Now
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<app-footer></app-footer>
