<!-- Footer -->
<footer class="footer pt-0">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-12">
      <div class="copyright text-center  text-muted">
        &copy; 2021 <a href="#" class="font-weight-bold ml-1" target="_blank">Kaneria Plast</a>
      </div>
    </div>
  </div>
</footer>
