<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Upload Brochure</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Upload PDF</label>
                      <input type="file" class="form-control" (change)="upload_pdf($event)" formControlName="pdf" [ngClass]="{ 'is-invalid': submitted && fval.pdf.errors }" accept=".pdf">
                      <div *ngIf="submitted && fval.pdf.errors" class="invalid-feedback">
                        <div *ngIf="fval.pdf.errors.required">
                          Upload PDF is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="pdf_file_name">
                    <div class="form-group">
                      <label class="form-control-label">Preview PDF</label><br>
                      <a href="{{pdf_file}}" target="_blank">
                        <img src="assets/img/pdf.png">
                        {{pdf_file_name}}
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
