<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">

          <div class="col-sm-4 col-lg-4" *ngIf="abouts">
            <div class="footer-item">
              <div class="footer-service mobile_footer">
                <h3>Usefull Links</h3>
                <ul>
                  <li>
                    <a routerLink="/">
                      Home
                    </a>
                  </li>
                  <li>
                    <a routerLink="/vendor">
                      Become Vendor
                    </a>
                  </li>
                  <li>
                    <a routerLink="/careers">
                      Careers
                    </a>
                  </li>
                  <li>
                    <a routerLink="/clients">
                      Clients
                    </a>
                  </li>
                  <li>
                    <a routerLink="/contacts">
                      Contacts
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4" *ngIf="abouts">
            <div class="footer-item">
              <div class="footer-service mobile_footer">
                <h3>About Us</h3>
                <ul>
                  <li *ngFor="let about of abouts;index as i">
                    <a [routerLink]="['/about',about.slug]">
                      {{about.about_title}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4" *ngIf="products">
            <div class="footer-item">
              <div class="footer-service mobile_footer">
                <h3>Products</h3>
                <ul>
                  <li *ngFor="let product of products;index as i">
                    <a [routerLink]="['/products',product.slug]">
                      {{product.title}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-5">
        <div class="row">
          <div class="col-sm-6 col-lg-6" *ngIf="brochure_link">
            <div class="footer-item">
              <div class="footer-service">
                <h3>Download Brochure</h3>
                <div class="brochure">
                  <a href="{{brochure_link}}" target="_blank">
                    <img src="assets/img/pdf.png" />Kaneria Plast<i class='bx bx-chevron-down-circle'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-6" *ngIf="socials">
            <div class="footer-item">
              <div class="footer-social-media">
                <h3>Social Media</h3>
                <ul>
                  <li *ngFor="let soc of socials">
                    <a *ngIf="soc.media_href != '' && soc.media_href != null" href="{{soc.media_href}}" target="_blank">
                      <div [innerHTML]="soc.media_name"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="copyright-item">
          <p>© 2021 KANERIA PLAST PVT. LTD. </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="setblue">
          <p>Website Designed by : <a href="https://www.setblue.com/" target="_blank">SetBlue</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sidebar_fixed d-flex align-items-center">
  <ul class="sticky">
    <li class="d-flex align-items-center justify-content-center">
      <a href="https://wa.me/+918238055562" class="d-flex align-items-center" target="_blank">
        <div class="floating_icons whatsapp">
          <i class='bx bxl-whatsapp'></i>
        </div>
        <p>Gujarat <br>+91 82380 55562</p>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a (click)="calopen()" class="d-flex align-items-center">
        <div class="floating_icons">
          <i class='bx bx-calculator'></i>
        </div>
        <p>Requirement<br>Calculate</p>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="https://wa.me/+919099930276" class="d-flex align-items-center" target="_blank">
        <div class="floating_icons whatsapp">
          <i class='bx bxl-whatsapp'></i>
        </div>
        <p>Maharashtra <br>+91 90999 30276</p>
      </a>
    </li>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="myCalculator" role="dialog" style="opacity: 0" [ngStyle]="{'display': show_model ? 'block' : 'none','opacity': 1,'background':'#0000004f'}">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header model-title">
        <h3><i class="bx bx-calculator"></i> Requirement Calculator</h3>
        <button type="button" class="close" (click)="calclose()">&times;</button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Enter Floor Area in Square feet" class="calculator-input" id="quantity" [(ngModel)]="quantity" (keypress)="isNumberKey($event)" (keyup.enter)="calculate()">
        <button class="cmn-btn" (click)="calculate()">Calculate</button>
        <div id="error"></div>
      </div>
      <div id="cal-data" [ngStyle]="{'display': show_data ? 'block' : 'none'}">
        <div class="modal-element">
          <div class="left-side">AAC Block</div>
          <div id="block" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">Block Jointing Mortar</div>
          <div id="bjm" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">Cement</div>
          <div id="cement" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">Sand</div>
          <div id="sand" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">Steel</div>
          <div id="steel" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">10 mm Aggregate</div>
          <div id="10mm" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">20 mm Aggregate</div>
          <div id="20mm" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">Tile Adhesive</div>
          <div id="ta" class="right-side"></div>
        </div>
        <div class="modal-element">
          <div class="left-side">Wallputty</div>
          <div id="putty" class="right-side"></div>
        </div>
      </div>
    </div>
  </div>
</div>
